/* COLORS */

:root {
    --bs-white: #fff;
    --bs-white-light:#E9EBF81F !important;

    --bs-blue-light: #e6e7e9;
    --bs-blue-light-hover: #dadade;
    --bs-blue-light-active:##b2b3bb;
    --bs-blue-normal: #060b24;
    --bs-blue-normal-hover: #050a20;
    --bs-blue-normal-active: #05091d;
    --bs-blue-dark: #05081b;
    --bs-blue-dark-hover: #040716;
    --bs-blue-dark-active: #030510;
    --bs-blue-darker: #02040d;

    --bs-orange-light: #fdedec;
    --bs-orange-light-hover: #fbe4e2;
    --bs-orange-light-active:##f8c8c3;
    --bs-orange-normal: #e74c3c;
    --bs-orange-normal-hover: #d04436;
    --bs-orange-normal-active: #b93d30;
    --bs-orange-dark: #ad392d;
    --bs-orange-dark-hover: #8b2e24;
    --bs-orange-dark-active: #68221b;
    --bs-orange-darker: #511b15;
}

@media screen and (max-width: 600px) {
    .navbar {
        --bs-navbar-toggler-icon-bg: url(/assets/images/menu.svg);
    }
    .bg-menu-mobile {
        background-color: #15014994;
        border-radius: 15px;
    }
    .bg-header {
        height: 742px;
    }
    footer {
        font-size: 12px;
    }
    .navbar-brand img{
        width: 80%;
    }
    .navbar-brand {
        width: 60%;
    }
}